<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid class="ion-justify-content-center">
    <ion-row>
      <ion-col size-md="8" size-lg="6" size-xs="12">
        <form (ngSubmit)="onSubmit()">
          <!-- Title -->
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input [(ngModel)]="entry.title" name="title"></ion-input>
          </ion-item>

          <!-- Content -->
          <ion-item>
            <ion-label position="floating">Content</ion-label>
            <ion-textarea [(ngModel)]="entry.content" name="content"></ion-textarea>
          </ion-item>

          <!-- Date -->
          <ion-item>
            <ion-label>Date</ion-label>
            <input type="date" [(ngModel)]="entry.date" name="date">
          </ion-item>

          <!-- Display Captured Image -->
          <img [src]="entry.imageURI" *ngIf="entry.imageURI" />

          <!-- Display Map -->
          <agm-map [latitude]="mapLat" [longitude]="mapLng" [zoom]="mapZoom">
            <agm-marker [latitude]="mapLat" [longitude]="mapLng"></agm-marker>
          </agm-map>

          <!-- Take Picture Button -->
          <ion-button (click)="takePicture()">Take Picture</ion-button>

          <!-- Save Entry Button -->
          <ion-button type="submit">Save Entry</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
