<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tarvel Journal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Travel Journal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <strong>Welcome to Travel Journal!</strong>
    <p>Start documenting your memories and experiences.</p>
    
    <div class="button-container">
      <ion-button expand="block" routerLink="/create-entry" class="main-button">Create Entry</ion-button>
      <ion-button expand="block" routerLink="/view-entries" class="main-button">View Entries</ion-button>
    </div>
  </div>
</ion-content>
